{
{% for intf in (pve_vm_item.interfaces|default([])|json_query("[? !contains(name, 'vmbr')]")) %}
{% if not ('vmbr' in intf.name) %}
"net{{ loop.index0 }}": "virtio,bridge={{ intf.parent.name if intf.parent is defined and intf.parent is not none else 'vmbr0' }}{% if intf.untagged_vlan is defined and intf.untagged_vlan is not none %},tag={{ intf.untagged_vlan.vid }}{% endif %}"{% if not loop.last %},{% endif %}
{% endif %}
{% endfor %}
}