---
ansible_python_interpreter: /usr/bin/python3
ansible_ssh_port: 1830
action1_url: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35353966666630353361333162613633663265626530376666373638633035366262316537626535
  3561343763363764336132343561393336343936663965310a366230666531306431316330303639
  66636236303265626665623961313638616465646665306262626338363635383762346538633339
  3035306363333432660a313239386465363731643637656438363236373338633237303633653432
  62336336613734303531393462626538613330363632326333323762363430393763333038646339
  38663730356661353039373136663666323338366237313438333861343931646334613135386439
  37363837396232343564653864316530373264363032306235313466313133363432316632316432
  61313731316635656664373130373831656466613832313036666534623132333936336331333739
  3737

passwordsalt: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  31323833383465653439326666366362386264623239366536653936653766356432343439386331
  3634643165323233633362613430333963346363323432350a333539636637613733623330663661
  37663735333635333364653836356362373231663937393735633432326534333034336432636261
  3036343765623562300a656436376264393364656531613238616364396235376362636231626630
  37626238336330663466323831353933633466363335626439376634656431383530

users:
  - user: fraise
    groups: sudo
    name: "Gianni Stubbe"
    ssh_key: "https://github.com/33Fraise33.keys"
  - user: prometheus
    name: "Node Exporter User"
    home: false

nobody:
  group: "65534"
  user: "65534"

ntp:
  - 0.be.pool.ntp.org
  - 0.europe.pool.ntp.org
  - 1.be.pool.ntp.org
  - 2.be.pool.ntp.org

docker_login:
  username: 33fraise33
  password: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    63386364353039316338663264323864386562623236626634303964663836333363643638313361
    3562383039653538373831326161643638666135613063390a306631313461623232336665303038
    34633766366634663666326465383465353965646266363234303630626563633436383134666631
    3435346632373465660a373262376663373331393364646637653534333663333934636530353661
    66333163386631303431663861373963373961346361343430323036626230653937

cloudflare_api_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37303562376564316235313537666163383338316333356631646236363539653738346661356239
  3732303263616130396262393839633033643631346363360a376561313437323161383431353866
  39303232633432626239326666643562396532396466346465353831363463616131393866303662
  6533666537323332370a663461626361643832363362326461653538373365663962616665356461
  32666266316633393565336630383338613432643434373233356661326266376638363266373838
  6666386362663134313961303161653165333066623962613130
cloudflare_api_email: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37323964633235633432373935613739663362653461306161303634343830646233346532363665
  6536656637346361343865383530623033323663636363660a356466373130363335616631356339
  34363138353539656630666131376233373362643761363666356534646432336432646539346631
  3263646334663434390a326338353233343537313361373663663231643666323862323861383037
  35643561613562366534383132626530663937386638356630306637373066623336

traefik_custom_rules:
  - name: bejbegiart01
    target: https://172.16.33.1:8443
  - name: unifi
    target: https://172.16.54.10
  - name: beokpdcosv01
    target: https://10.10.48.10:8006/
  - name: bejbegiasv01
    target: https://172.16.33.3:8006/
  - name: accweb
    target: http://172.16.33.6

traefik:
  home:
    ip: 172.16.48.125
    ipv6: 2a12:4946:4000:1002::125
  dco:
    ip: 10.10.48.125
    ipv6: 2a12:4946:4002:1002::125
  media:
    ip: 10.10.48.151
    ipv6: 2a12:4946:4002:1003::151

dns_servers:
  unbound:
    home:
      ip: 172.16.48.123
      ipv6: 2a12:4946:4000:1002::123
    dco:
      ip: 10.10.48.123
      ipv6: 2a12:4946:4002:1002::123
  adguard:
    home:
      ip: 172.16.48.124
      ipv6: 2a12:4946:4000:1002::124
    dco:
      ip: 10.10.48.124
      ipv6: 2a12:4946:4002:1002::124

dns:
  domain: unitix.be
  servers:
    - "{{ dns_servers.adguard.home.ip }}"
    - "{{ dns_servers.adguard.home.ipv6 }}"
    - "{{ dns_servers.adguard.dco.ip }}"
    - "{{ dns_servers.adguard.dco.ipv6 }}"

domain:
  internal:
    - domain: wireguard.frai.se
      answer: 2a12:4946:4001:35::1
    - domain: wireguard.frai.se
      answer: 31.24.249.70
    - domain: inform.unitix.be
      answer: 10.10.48.190
    - domain: sync.frai.se
      answer: 2a12:4946:4000:1002::120
    - domain: sync.frai.se
      answer: 172.16.48.120
    # DCO
    - domain: postiz.unitix.gg
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: postiz.unitix.gg
      answer: "{{ traefik.dco.ip }}"
    - domain: alertmanager.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: alertmanager.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: prometheus.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: prometheus.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: grafana.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: grafana.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: proxmox.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: proxmox.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: rss.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: rss.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: matrix.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: matrix.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: mas.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: mas.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: netbox.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: netbox.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: portainer.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: portainer.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: n8n.frai.se
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: n8n.frai.se
      answer: "{{ traefik.dco.ip }}"
    - domain: "dns1.frai.se"
      answer: "{{ traefik.dco.ip }}"
    - domain: "dns1.frai.se"
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: "apprise.frai.se"
      answer: "{{ traefik.dco.ip }}"
    - domain: "apprise.frai.se"
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: "scrutiny.frai.se"
      answer: "{{ traefik.dco.ip }}"
    - domain: "scrutiny.frai.se"
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: "loki.frai.se"
      answer: "{{ traefik.dco.ip }}"
    - domain: "loki.frai.se"
      answer: "{{ traefik.dco.ipv6 }}"
    - domain: "beokpdcosv01.frai.se"
      answer: "{{ traefik.dco.ip }}"
    - domain: "beokpdcosv01.frai.se"
      answer: "{{ traefik.dco.ipv6 }}"
    # MEDIA
    - domain: "autobrr.frai.se"
      answer: "{{ traefik.media.ip }}"
    - domain: "autobrr.frai.se"
      answer: "{{ traefik.media.ipv6 }}"
    - domain: tautulli.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: tautulli.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: plex.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: plex.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: calibre.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: calibre.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: books.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: books.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: qbittorrent.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: qbittorrent.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: radarr.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: radarr.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: readarr.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: readarr.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: sonarr.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: sonarr.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: prowlarr.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: prowlarr.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: bazarr.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: bazarr.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: overseerr.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: overseerr.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: sabnzbd.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: sabnzbd.frai.se
      answer: "{{ traefik.media.ip }}"
    - domain: tdarr.frai.se
      answer: "{{ traefik.media.ipv6 }}"
    - domain: tdarr.frai.se
      answer: "{{ traefik.media.ip }}"
    # HOME
    - domain: "ha.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "ha.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
    - domain: "dns2.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "dns2.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
    - domain: "z2m.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "z2m.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
    - domain: "zwavejs.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "zwavejs.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
    - domain: "syncthing.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "syncthing.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
    - domain: "unifi.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "unifi.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
    - domain: "bejbegiasv01.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "bejbegiasv01.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
    - domain: "bejbegiart01.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "bejbegiart01.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
    - domain: "accweb.frai.se"
      answer: "{{ traefik.home.ip }}"
    - domain: "accweb.frai.se"
      answer: "{{ traefik.home.ipv6 }}"
  external:  # specific ipv4 at the front, no ipv4 = ddclient
    # UNITIX.BE
    - name: beokpdcort01
      ipv6: "2a12:4946:4002::1"
      ipv4: "31.24.249.70"
      domain: unitix.be
    - name: inform
      ipv4: "31.24.249.70"
      domain: unitix.be
    # FRAI.SE
    - name: wireguard
      domain: frai.se
      # ipv6: ""
      ipv4: "31.24.249.70"
    - name: acc
      domain: frai.se
    - name: home
      domain: frai.se

matrix_base_url: matrix.frai.se

gsuite_smtp_user: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  61353261383964363338646539653566396232636666643431383261646336386630653037383337
  6335623263333235393134656533306164643937373662360a653030346632393132333332666536
  34333635366261643766623963326639353539373766626164323730366462336462663332633937
  3663313934303039350a653461323966313232303232303932326665383964396363353236646665
  38313832613561313133303536356530616161323032653566396231343663333032
gsuite_smtp_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  34343434363561373935393838653164366133326331633436623664653034383363303066613964
  3731616434393838336438363065646462373236653561390a376366306165633838343332376564
  38636539303565636637663064303163366361663862306138663934356538316632626163383863
  3562326332666535300a636431323239663530313737313937646161396338333930663266326530
  63373161343661663866353930356566366561373037663436646436333032343032

adguard_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  32373134666239373037653961636132386234643665306465366130636235323938613532613437
  6331326332666664633938376337366230303331303333370a333934623838383139643830323863
  36636337346163623631623632303334303730343438313731323738376237353262343739366136
  3761323566666363650a336236613834626638393337303935353664383263613261376331633633
  35313038626436663436643366356134666435306131386161386634623665343461306539363737
  36363939356438323039326331353463663961353663623637633634613731383632623035633934
  326434396662666663323232666535353738

firewall_sets_all:
  # GENERAL
  - name: RFC1918
    type: ipv4_addr
    elements:
      - 10.0.0.0/8
      - 172.16.0.0/12
      - 192.168.0.0/16
  - name: AS211184
    type: ipv6_addr
    elements:
      - 2a12:4946:4000::/44
      - 2a12:4946:80ed:1::2/128
  # AGGREGATES
  - name: MGMT
    type: ipv4_addr
    elements:
      - 10.10.35.0/24  # Wireguard Roadwarrior
  - name: v6_MGMT
    type: ipv6_addr
    elements:
      - 2a12:4946:4002:0035::/64  # Wireguard Roadwarrior
  - name: DCO_RemoteSites
    type: ipv4_addr
    elements:
      - 10.10.48.0/24
  - name: MONITORING
    type: ipv4_addr
    elements:
      - "10.10.48.64/27"
  - name: MONITORING_v6
    type: ipv6_addr
    elements:
      - "2a12:4946:4002:1001::/64"
  - name: MEDIA
    type: ipv4_addr
    elements:
      - "10.10.48.128/27"
  - name: MEDIA_v6
    type: ipv6_addr
    elements:
      - "2a12:4946:4002:1003::/64"
  - name: NETWORKING
    type: ipv4_addr
    elements:
      - "10.10.48.160/27"
  - name: NETWORKING_v6
    type: ipv6_addr
    elements:
      - "2a12:4946:4002:1004::/64"
  # HOSTS & Services
  - name: VM01
    type: ipv4_addr
    elements:
      - 10.10.48.34/32
  - name: VM02
    type: ipv4_addr
    elements:
      - 10.10.48.35/32
  - name: TRAEFIK
    type: ipv4_addr
    elements:
      - "{{ traefik.dco.ip }}/32"
      - "{{ traefik.home.ip }}/32"
      - "{{ traefik.media.ip }}/32"
  - name: PORTAINER_AGENTS
    type: ipv4_addr
    elements:
      - 172.16.33.5/32
      - 10.10.48.35/32
  - name: TRAEFIK_v6
    type: ipv6_addr
    elements:
      - "{{ traefik.dco.ipv6 }}/128"
      - "{{ traefik.home.ipv6 }}/128"
      - "{{ traefik.media.ipv6 }}/128"
  - name: DNS
    type: ipv4_addr
    elements:
      - 172.16.48.124/32
      - 10.10.48.124/32
  - name: DNS_v6
    type: ipv6_addr
    elements:
      - 2a12:4946:4000:1002::124/128
      - 2a12:4946:4002:1002::124/128
  - name: UNBOUND
    type: ipv4_addr
    elements:
      - 172.16.48.123/32
      - 10.10.48.123/32
  - name: UNBOUND_v6
    type: ipv6_addr
    elements:
      - 2a12:4946:4000:1002::123/128
      - 2a12:4946:4002:1002::123/128
  - name: Proxmox
    type: ipv4_addr
    elements:
      - 10.10.48.10/32
      - 172.16.33.3/32
  - name: PBS
    type: ipv4_addr
    elements:
      - 172.16.33.7/32
  - name: UNIFI
    type: ipv4_addr
    elements:
      - 10.10.48.190/32
  - name: UISP
    type: ipv4_addr
    elements:
      - 10.10.48.189/32
  - name: PLEX
    type: ipv4_addr
    elements:
      - 10.10.48.150/32
  - name: PLEX_v6
    type: ipv6_addr
    elements:
      - 2a12:4946:4002:1003::150/128

firewall_filter_input_all:
  - comment: "Allow SSH"
    destination:
      port: 1830
      protocol: tcp
    counter: true
  - comment: "Allow WUD from MGMT"
    source:
      ip: "@MGMT"
    destination:
      port: 9103
      protocol: tcp
  - comment: "Allow node_exporter from MONITORING"
    source:
      ip: "@MONITORING"
    destination:
      port: 9100
      protocol: tcp
  - comment: "Allow docker_exporter from MONITORING"
    source:
      ip: "@MONITORING"
    destination:
      port: 9323
      protocol: tcp
  - comment: "Explicit DROP"
    counter: true
    statement: 'drop'


firewall:
  sets: "{{ firewall_sets_all }}"
  filter:
    input: "{{ firewall_filter_input_all }}"
