---
interfaces:
  - name: enp38s0
    description: LACP1
    mode: manual
  - name: enp39s0
    description: LACP2
    mode: manual
  - name: enx32a4e1ec57f1
    description: UNUSED
    mode: manual
  - name: bond0
    description: LACP
    mode: manual
    mtu: 9000
    bond:
      mode: 802.3ad
      slaves:
        - enp38s0
        - enp39s0
  - name: vmbr0
    description: Main Bridge
    mode: manual
    mtu: 9000
    bridge:
      ports: bond0
      stp: "off"
      vlan:
        vids: 2-4094
  - name: vlan33
    description: MGMT Vlan
    # do not set to dhcp, after reboot there will be boot issues, idk why
    mode: static
    addresses:
      - ip: 172.16.33.3/24
        gateway: 172.16.33.1
    vlan:
      device: vmbr0
      id: 33
