---
firewall_sets_host:
  - name: WAN
    type: ifname
    elements:
      - ens17
      - wgDEFRAIFG
  - name: BGP_PEERS_v4
    type: ipv4_addr
    elements:
      - 10.10.49.0/24
  - name: BGP_PEERS_v6
    type: ipv6_addr
    elements:
      - 2001:678:1080:100::/62
      - fe80::/10
  - name: v6_NPTv6_HOME
    type: ipv6_addr
    elements:
      - 2a02:578:856d:1e00::/56  # EDPNET

firewall_filter_input_host:
  - comment: "Allow BGP from PEERS_v4"
    source:
      ip: "@BGP_PEERS_v4"
    destination:
      port: 179
      protocol: tcp
    counter: true
  - comment: "Allow BGP from PEERS_v6"
    type: ip6
    source:
      ip: "@BGP_PEERS_v6"
    destination:
      port: 179
      protocol: tcp
    counter: true
  - comment: "Allow frr_expoter from MONITORING"
    type: ip6
    source:
      ip: "@v6_MONITORING"
    destination:
      port: 9342
      protocol: tcp
  - comment: "Allow Iperf Test"
    destination:
      port: 51830
      protocol: tcp
  - comment: "Allow Wireguard edge sites"
    destination:
      port: 51820-51830
      protocol: udp
    counter: true
  - comment: "Allow Wireguard Roadwarrior"
    destination:
      port: 2034
      protocol: udp
    counter: true

firewall:
  sets: "{{ firewall_sets_all + firewall_sets_host }}"
  filter:
    input: "{{ firewall_filter_input_host + firewall_filter_input_all }}"
    forward:
      # WAN
      - comment: "Allow to WAN"
        destination:
          interface: "@WAN"
          negate: true
          ip: "@RFC1918"
        counter: true
      - comment: "v6 - Allow AS211184 to WAN"
        type: ip6
        source:
          ip: "@AS211184"
        destination:
          interface: "@WAN"
      # MGMT
      - comment: "Allow from MGMT"
        source:
          ip: "@MGMT"
        counter: true
      - comment: "Allow from MGMT"
        type: ip6
        source:
          ip: "@v6_MGMT"
        counter: true
      # MONITORING
      - comment: "Allow from MONITORING"
        source:
          ip: "@MONITORING"
        destination:
          protocol: udp
          port: "{ 161, 623 }"  # snmp, ipmi
        counter: true
      - comment: "Allow from MONITORING"
        source:
          ip: "@MONITORING"
        destination:
          protocol: tcp
          port: "{ 80,443,9100,9323,9342 }"  # http,https,node_exporter,docker_exporter,frr_exporter
        counter: true
      - comment: "Allow from MONITORING"
        type: ip6
        source:
          ip: "@v6_MONITORING"
        destination:
          protocol: tcp
          port: "{ 80,443,9100,9323,9342 }"  # http,https,node_exporter,docker_exporter,frr_exporter
        counter: true
      # DNS
      - comment: "Allow Adguard to Recursive"
        type: ip6
        source:
          ip: "@DNS_v6"
        destination:
          ip: "@UNBOUND_v6"
        counter: true
      - comment: "Allow Adguard to Recursive"
        source:
          ip: "@DNS"
        destination:
          ip: "@UNBOUND"
        counter: true
      - comment: "Allow to DNS"
        destination:
          ip: "@DNS"
        counter: true
      - comment: "Allow to DNS"
        type: ip6
        source:
          ip: "@AS211184"
        destination:
          ip: "@DNS_v6"
        counter: true
      # PROXY/TRAEFIK
      - comment: "Allow to TRAEFIK"
        source:
          ip: "@RFC1918"
        destination:
          ip: "@TRAEFIK"
        counter: true
      - comment: "Allow to TRAEFIK from NPTv6"
        type: ip6
        source:
          ip: "@v6_NPTv6_HOME"
        destination:
          ip: "@TRAEFIK_v6"
        counter: true
      - comment: "Allow to TRAEFIK"
        type: ip6
        source:
          ip: "@AS211184"
        destination:
          ip: "@TRAEFIK_v6"
        counter: true
      - comment: "Allow from TRAEFIK to monitoring vlan tcp"
        source:
          ip: "@TRAEFIK"
        destination:
          ip: "@MONITORING"
          protocol: tcp
          port: "{ 1 - 65000 }"
        counter: true
      - comment: "v6 - Allow from TRAEFIK to monitoring vlan tcp"
        type: ip6
        source:
          ip: "@TRAEFIK_v6"
        destination:
          ip: "@v6_MONITORING"
          protocol: tcp
          port: "{ 1 - 65000 }"
        counter: true
      - comment: "Allow from TRAEFIK to media vlan tcp"
        source:
          ip: "@TRAEFIK"
        destination:
          ip: "@MEDIA"
          protocol: tcp
          port: "{ 1 - 65000 }"
        counter: true
      - comment: "v6 - Allow from TRAEFIK to media vlan tcp"
        type: ip6
        source:
          ip: "@TRAEFIK_v6"
        destination:
          ip: "@MEDIA_v6"
          protocol: tcp
          port: "{ 1 - 65000 }"
        counter: true
      - comment: "Allow from TRAEFIK to  networking tcp"
        source:
          ip: "@TRAEFIK"
        destination:
          ip: "@NETWORKING"
          protocol: tcp
          port: "{ 1 - 65000 }"
        counter: true
      - comment: "v6 - Allow from TRAEFIK to networking vlan tcp"
        type: ip6
        source:
          ip: "@TRAEFIK_v6"
        destination:
          ip: "@NETWORKING_v6"
          protocol: tcp
          port: "{ 1 - 65000 }"
        counter: true
      - comment: "Allow from TRAEFIK to Proxmox"
        source:
          ip: "@TRAEFIK"
        destination:
          ip: "@Proxmox"
          protocol: tcp
          port: 8006
        counter: true
      # MEDIA
      - comment: "To Plex Allow"
        destination:
          ip: "@PLEX"
          protocol: tcp
          port: 32400
        counter: true
      - comment: "To Plex Allow"
        type: ip6
        destination:
          ip: "@PLEX_v6"
          protocol: tcp
          port: 32400
        counter: true
      # SERVICES
      - comment: "Allow Portainer to Captain"
        source:
          ip: 10.10.48.0/24
        destination:
          ip: "@PORTAINER_AGENTS"
          port: 9001
          protocol: tcp
        counter: true
      # BACKUPS
      - comment: "Allow from PVE to PBS"
        source:
          ip: "@Proxmox"
        destination:
          ip: "@PBS"
        counter: true
      - comment: "Allow to syncthing udp"
        source:
          ip: "@RFC1918"
        destination:
          interface: "wg*"
          protocol: udp
          port: 22000
        counter: true
      - comment: "Allow to syncthing tcp"
        source:
          ip: "@RFC1918"
        destination:
          interface: wg*
          protocol: tcp
          port: 22000
        counter: true
      - comment: "Allow to syncthing udp"
        type: ip6
        source:
          ip: "@AS211184"
        destination:
          interface: wg*
          protocol: udp
          port: 22000
        counter: true
      - comment: "Allow to syncthing tcp"
        type: ip6
        source:
          ip: "@AS211184"
        destination:
          interface: wg*
          protocol: tcp
          port: 22000
        counter: true
      # NETWORKING
      - comment: "Allow to UNIFI udp - stun, rsyslog"
        destination:
          ip: "@UNIFI"
          protocol: udp
          port: "{ 3478, 5514 }"
        counter: true
      - comment: "Allow to UNIFI tcp - device comm, web"
        destination:
          ip: "@UNIFI"
          protocol: tcp
          port: "{ 8080, 8443 }"
        counter: true
      - comment: "Allow from UISP - SNMP, device discovery"
        source:
          ip: "@UISP"
        destination:
          protocol: udp
          port: "{ 161, 10001 }"
        counter: true
      - comment: "Allow from UISP - https, device discovery"
        source:
          ip: "@UISP"
        destination:
          protocol: tcp
          port: "{ 443, 10001 }"
        counter: true
      # DENY LOG
      - comment: "Drop AS211184 to wan"
        counter: true
        type: ip6
        destination:
          interface: "@WAN"
          ip: "@AS211184"
        statement: 'drop'
      - comment: "Drop unknown destination addresses returning to default route"
        counter: true
        source:
          interface: "@WAN"
        destination:
          interface: "@WAN"
        statement: 'drop'
      - comment: "Drop WAN"
        counter: true
        source:
          interface: "@WAN"
        statement: 'drop'
      - counter: true
        statement: 'log prefix "DROPPED: " drop'
  nat:
    srcnat:  # default masquerade
      - comment: SNAT to inet
        source:
          ip: "@RFC1918"
        destination:
          interface: "@WAN"
          negate: true
          ip: "@RFC1918"
        counter: true
    dstnat:
      - comment: DNAT to Plex
        statement: dnat ip to 10.10.48.150
        source:
          interface: ens17
        destination:
          port: 32400
          protocol: tcp
        counter: true
      - comment: DNAT to unifi - inform
        statement: dnat ip to 10.10.48.190
        source:
          interface: ens17
        destination:
          port: 8080
          protocol: tcp
        counter: true
      - comment: DNAT to unifi - STUN
        statement: dnat ip to 10.10.48.190
        source:
          interface: ens17
        destination:
          port: 3478
          protocol: udp
        counter: true
