---
firewall_filter_input_host:
  - comment: "Allow portainer_agent"
    destination:
      port: 9001
      protocol: tcp
    counter: true

firewall:
  sets: "{{ firewall_sets_all }}"
  filter:
    input: "{{ firewall_filter_input_host + firewall_filter_input_all }}"
