---
qemu_guest_agent: false

firewall_sets_host:
  - name: WAN
    type: ifname
    elements:
      - ens18
      - ens19
      - ens20
      - ens21
  - name: BGP_PEERS_v4
    type: ipv4_addr
    elements:
      - 10.10.49.0/24
  - name: BGP_PEERS_v6
    type: ipv6_addr
    elements:
      - 2a0c:9a40:1::1/128  # IFOG
      - 2001:678:1080:101::/64  # WIREGUARD TRANSPORTS
      - fe80::/10 # VETH
      - 2001:7f8:33::/64  # KLEYREX
      - 2001:7f8:f2:e1::/64  # LOCIX
      - 2001:7f8:ca:1::/64  # FOGIXP

firewall_filter_input_host:
  - comment: "Allow BGP from PEERS_v4"
    source:
      ip: "@BGP_PEERS_v4"
    destination:
      port: 179
      protocol: tcp
    counter: true
  - comment: "Allow BGP from PEERS_v6"
    type: ip6
    source:
      ip: "@BGP_PEERS_v6"
    destination:
      port: 179
      protocol: tcp
    counter: true
  - comment: "Allow frr_expoter from MONITORING"
    type: ip6
    source:
      ip: "@v6_MONITORING"
    destination:
      port: 9342
      protocol: tcp
  - comment: "Allow Iperf Test"
    destination:
      port: 51830
      protocol: tcp
  - comment: "Allow Wireguard edge sites"
    destination:
      port: 51820-51830
      protocol: udp
    counter: true
  - comment: "Allow Wireguard Roadwarrior"
    destination:
      port: 2034
      protocol: udp
    counter: true

firewall_filter_forward_host:
  # WAN
  - comment: "Allow to WAN"
    destination:
      negate: true
      ip: "@RFC1918"
    counter: true
  - comment: "v6 - Allow AS211184 to WAN"
    type: ip6
    source:
      ip: "@AS211184"
  - comment: "v6 - Allow WAN to AS211184"
    type: ip6
    destination:
      ip: "@AS211184"
  - comment: "Allow to DNAT IP"
    destination:
      ip: 10.48.0.1
    counter: true
  - comment: "Allow from DCO"
    source:
      interface: wgBEOKPDCO
    destination:
      interface: wg*
    counter: true
  # MGMT
  - comment: "Allow from MGMT"
    source:
      ip: "@MGMT"
    counter: true

firewall:
  sets: "{{ firewall_sets_all + firewall_sets_host }}"
  filter:
    input: "{{ firewall_filter_input_host + firewall_filter_input_all }}"
    forward: "{{ firewall_filter_forward_host + firewall_filter_forward_all }}"
  nat:
    srcnat:
      - comment: SNAT to inet
        statement: ct zone 2 masquerade
        source:
          ip: "@RFC1918"
        destination:
          interface: "@WAN"
          negate: true
          ip: "@RFC1918"
        counter: true
    dstnat:
      - comment: DNAT to Default VRF
        statement: dnat to 10.48.0.1
        destination:
          ip: 193.148.249.172
        counter: true
  raw:
    prerouting:
      - source:
          interface: vthIfog
        statement: ct zone set 2
      - source:
          interface: ens18
        statement: ct zone set 2
