---
firewall_filter_input_host:
  - comment: "Allow Portainer to agent"
    source:
      ip: 10.10.40.96/27
    destination:
      port: 9001
      protocol: tcp
    counter: true
firewall:
  sets: "{{ firewall_sets_all + firewall_sets_internal }}"
  filter:
    input: "{{ firewall_filter_input_host + firewall_filter_input_all }}"
    forward:
      # WAN
      - comment: "Allow to WAN"
        destination:
          interface: "ens18"
        counter: true
      - comment: "Allow from MGMT"
        source:
          ip: "@MGMT"
        counter: true
      # MONITORING
      - comment: "Allow from MONITORING"
        source:
          ip: "@MONITORING"
      # UNITE
      - comment: "Allow to Unite"
        destination:
          ip: 10.10.41.0/26
      - counter: true
        statement: 'log prefix "DROPPED: " drop'
firewall_nat:
  srcnat: []
  dstnat:
    - comment: DNAT to unite02 - 56507
      statement: dnat ip to 10.10.41.2:6650
      source:
        interface: ens18
      destination:
        ip: 10.10.41.2
        port: 56507
        protocol: udp
      counter: true
    - comment: DNAT to unite02 - 56508
      statement: dnat ip to 10.10.41.2:6788
      source:
        interface: ens18
      destination:
        ip: 10.10.41.2
        port: 56508
        protocol: udp
      counter: true
    - comment: DNAT to unite02 - 56509
      statement: dnat ip to 10.10.41.2:10030
      source:
        interface: ens18
      destination:
        ip: 10.10.41.2
        port: 56509
        protocol: udp
      counter: true
    - comment: DNAT to unite04 - 56507
      statement: dnat ip to 10.10.41.3:6650
      source:
        interface: ens18
      destination:
        ip: 10.10.41.3
        port: 56507
        protocol: udp
      counter: true
    - comment: DNAT to unite04 - 56508
      statement: dnat ip to 10.10.41.3:6788
      source:
        interface: ens18
      destination:
        ip: 10.10.41.3
        port: 56508
        protocol: udp
      counter: true
    - comment: DNAT to unite04 - 56509
      statement: dnat ip to 10.10.41.3:10030
      source:
        interface: ens18
      destination:
        ip: 10.10.41.3
        port: 56509
        protocol: udp
      counter: true
    - comment: DNAT to unite06 - 56507
      statement: dnat ip to 10.10.41.4:6650
      source:
        interface: ens18
      destination:
        ip: 10.10.41.4
        port: 56507
        protocol: udp
      counter: true
    - comment: DNAT to unite06 - 56508
      statement: dnat ip to 10.10.41.4:6788
      source:
        interface: ens18
      destination:
        ip: 10.10.41.4
        port: 56508
        protocol: udp
      counter: true
    - comment: DNAT to unite06 - 56509
      statement: dnat ip to 10.10.41.4:10030
      source:
        interface: ens18
      destination:
        ip: 10.10.41.4
        port: 56509
        protocol: udp
      counter: true
    - comment: DNAT to unite08 - 56507
      statement: dnat ip to 10.10.41.5:6650
      source:
        interface: ens18
      destination:
        ip: 10.10.41.5
        port: 56507
        protocol: udp
      counter: true
    - comment: DNAT to unite08 - 56508
      statement: dnat ip to 10.10.41.5:6788
      source:
        interface: ens18
      destination:
        ip: 10.10.41.5
        port: 56508
        protocol: udp
      counter: true
    - comment: DNAT to unite08 - 56509
      statement: dnat ip to 10.10.41.5:10030
      source:
        interface: ens18
      destination:
        ip: 10.10.41.5
        port: 56509
        protocol: udp
      counter: true
    - comment: DNAT to unite10 - 56507
      statement: dnat ip to 10.10.41.6:6650
      source:
        interface: ens18
      destination:
        ip: 10.10.41.6
        port: 56507
        protocol: udp
      counter: true
    - comment: DNAT to unite10 - 56508
      statement: dnat ip to 10.10.41.6:6788
      source:
        interface: ens18
      destination:
        ip: 10.10.41.6
        port: 56508
        protocol: udp
      counter: true
    - comment: DNAT to unite10 - 56509
      statement: dnat ip to 10.10.41.6:10030
      source:
        interface: ens18
      destination:
        ip: 10.10.41.6
        port: 56509
        protocol: udp
      counter: true
    - comment: DNAT to unite12 - 56507
      statement: dnat ip to 10.10.41.7:6650
      source:
        interface: ens18
      destination:
        ip: 10.10.41.7
        port: 56507
        protocol: udp
      counter: true
    - comment: DNAT to unite12 - 56508
      statement: dnat ip to 10.10.41.7:6788
      source:
        interface: ens18
      destination:
        ip: 10.10.41.7
        port: 56508
        protocol: udp
      counter: true
    - comment: DNAT to unite12 - 56509
      statement: dnat ip to 10.10.41.7:10030
      source:
        interface: ens18
      destination:
        ip: 10.10.41.7
        port: 56509
        protocol: udp
      counter: true
    - comment: DNAT to unite14 - 56507
      statement: dnat ip to 10.10.41.8:6650
      source:
        interface: ens18
      destination:
        ip: 10.10.41.8
        port: 56507
        protocol: udp
      counter: true
    - comment: DNAT to unite14 - 56508
      statement: dnat ip to 10.10.41.8:6788
      source:
        interface: ens18
      destination:
        ip: 10.10.41.8
        port: 56508
        protocol: udp
      counter: true
    - comment: DNAT to unite14 - 56509
      statement: dnat ip to 10.10.41.8:10030
      source:
        interface: ens18
      destination:
        ip: 10.10.41.8
        port: 56509
        protocol: udp
      counter: true
