services:
  netbox: 
    depends_on: !reset null
    image: netbox:latest-plugins
    build:
      context: .
      dockerfile: Dockerfile-Plugins
      network: host
    restart: always
    dns: {{ dns.servers }}
    labels:
      traefik.http.routers.netbox.rule: "Host(`netbox.unitix.be`)"
      traefik.http.routers.netbox.tls: "true"
      traefik.http.routers.netbox.tls.certresolver: "le"
      traefik.http.services.netbox.loadbalancer.server.port: "8080"
  netbox-worker:
    image: netbox:latest-plugins
    build:
      context: .
      dockerfile: Dockerfile-Plugins
      network: host
    restart: always
    dns: {{ dns.servers }}
    labels:
      traefik.enable: "false"
  postgres: !reset null
  redis: !reset null
  redis-cache: !reset null
volumes: 
  netbox-postgres-data: !reset null
  netbox-redis-cache-data: !reset null
  netbox-redis-data: !reset null
networks:
  default:
    name: services
    external: true