ansible
ansible-lint
yamllint
passlib  # needed for macos hashing and encryption
pymongo  # needed to create databases
psycopg2-binary  # needed to create postgres database
pywinrm  # needed to manage windows hosts