---
- name: WUD - Set up container
  community.docker.docker_container:
    name: wud
    image: ghcr.io/getwud/wud:latest
    networks:
      - name: host
    dns_servers: "{{ dns.servers }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: curl --fail http://localhost:${WUD_SERVER_PORT:-3000}/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    env:
      WUD_SERVER_PORT: "9103"
      WUD_WATCHER_LOCAL_CRON: "33 4 * * *"
      WUD_TRIGGER_DOCKER_UPGRADEANY_AUTO: "true"
      WUD_TRIGGER_DOCKER_UPGRADEANY_PRUNE: "true"
      WUD_TRIGGER_HTTP_NOTIFYANY_AUTO: "true"
      WUD_TRIGGER_HTTP_NOTIFYANY_URL: https://n8n.frai.se/webhook/{{ wud_n8n_path }}
      WUD_TRIGGER_HTTP_NOTIFYANY_SIMPLETITLE: "{{ inventory_hostname }}"
      WUD_TRIGGER_HTTP_NOTIFYANY_AUTH_TYPE: BEARER
      WUD_TRIGGER_HTTP_NOTIFYANY_AUTH_BEARER: "{{ wud_n8n_bearer }}"
    restart: true
    state: healthy
    restart_policy: always
    pull: true
    labels:
      traefik.enable: "false"
