---
server_name: "{{ matrix_server_name }}"
public_baseurl: "https://{{ matrix_base_url }}"
serve_server_wellknown: false  # handled by nginx
pid_file: /data/homeserver.pid
report_stats: true

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false

database:
  name: psycopg2
  txn_limit: 10000
  args:
    user: "{{ matrix_postgres_user }}"
    password: "{{ matrix_postgres_pass }}"
    dbname: synapse
    host: postgres
    port: 5432
    cp_min: 5
    cp_max: 10

log_config: "/data/frai.se.log.config"
media_store_path: /data/media

registration_shared_secret: "{{ matrix_registration_secret }}"
macaroon_secret_key: "{{ matrix_macaroon_secret }}"
form_secret: "{{ matrix_form_secret }}"
signing_key_path: "/data/frai.se.signing.key"

old_signing_keys:
  ed25519:a_UHpE:
    key: Fwg8K5cQlCHvZzyq8jV7kjn0PCXTHGnVMpe4xFYqnTI
    expired_ts: 1665830491168
  ed25519:3fKiZA:
    key: CwpEHyLolhc/w7h67H4T/H0LCIV+Cbbbxtci40nuLRU
    expired_ts: 1751306417000

trusted_key_servers:
  - server_name: "matrix.org"
suppress_key_server_warning: true

delete_stale_devices_after: 4w
ip_range_blacklist:
  - 127.0.0.0/8
  - 10.0.0.0/8
  - 172.16.0.0/12
  - 192.168.0.0/16
  - 100.64.0.0/10
  - 192.0.0.0/24
  - 169.254.0.0/16
  - 192.88.99.0/24
  - 198.18.0.0/15
  - 192.0.2.0/24
  - 198.51.100.0/24
  - 203.0.113.0/24
  - 224.0.0.0/4
  - ::1/128
  - fe80::/10
  - fc00::/7
  - 2001:db8::/32
  - ff00::/8
  - fec0::/10
  - 2001:678:1080::/48
url_preview_enabled: true
url_preview_ip_range_blacklist:
  - 127.0.0.0/8
  - 10.0.0.0/8
  - 172.16.0.0/12
  - 192.168.0.0/16
  - 100.64.0.0/10
  - 192.0.0.0/24
  - 169.254.0.0/16
  - 192.88.99.0/24
  - 198.18.0.0/15
  - 192.0.2.0/24
  - 198.51.100.0/24
  - 203.0.113.0/24
  - 224.0.0.0/4
  - ::1/128
  - fe80::/10
  - fc00::/7
  - 2001:db8::/32
  - ff00::/8
  - fec0::/10
  - 2001:678:1080::/48
# vim:ft=yaml

matrix_authentication_service:
  enabled: true
  endpoint: https://mas.frai.se
  secret: "{{ matrix_mas_matrix_secret }}"
