---
title: "frai.se"
subtitle: "Welcome"
logo: "https://i.imgur.com/UgSg9YM.png"

header: true
footer: '<p>Created with <a href="https://bulma.io/">bulma</a>, <a href="https://vuejs.org/">vuejs</a> & <a href="https://fontawesome.com/">font awesome</a> // Fork me on <a href="https://github.com/bastienwirtz/homer"><i class="fab fa-github-alt"></i></a></p>' # set false if you want to hide it.

connectivityCheck: true

links:
  - name: "Tweakers"
    icon: "fas fa-newspaper"
    url: "https://tweakers.net"
  - name: "Reddit"
    icon: "fab fa-reddit-alien"
    url: "https://reddit.com/"
  - name: "Frai.se Mail"
    icon: "fab fa-google"
    url: "https://mail.google.com/a/unitix.be"

services:
  - name: "Services"
    icon: "fas fa-layer-group"
    items:
      - name: "Unifi Protect"
        logo: "https://i.imgur.com/RFV8GvU.png"
        url: "https://unifi.frai.se/protect"
        subtitle: "Unifi Camera System"
        tag: wireguard
      - name: "Home Assistant"
        logo: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Home_Assistant_Logo.svg/1200px-Home_Assistant_Logo.svg.png"
        url: "https://ha.frai.se"
        subtitle: "Home automation platform"
      - name: "Syncthing"
        logo: "https://upload.wikimedia.org/wikipedia/commons/8/83/SyncthingAugustLogo.png"
        url: "https://syncthing.frai.se"
        subtitle: "Config syncing"
        tag: wireguard
  - name: "Media"
    icon: "fas fa-photo-video"
    items:
      - name: "Plex"
        logo: "https://jonathantneal.github.io/plex-fetch/plex-fetch.svg"
        url: "https://plex.frai.se"
        subtitle: "Self-hosted media player"
        tag: wireguard
      - name: "Jackett"
        logo: "https://developer.asustor.com/uploadIcons/0020_23588_1445715271_icon.png"
        url: "https://jackett.frai.se"
        subtitle: "Torrent api proxy"
        tag: wireguard
      - name: "Deluge"
        logo: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Deluge-Logo.svg/600px-Deluge-Logo.svg.png"
        url: "https://deluge.frai.se"
        subtitle: "Torrent client"
        tag: wireguard
      - name: "Radarr"
        logo: "https://developer.asustor.com/uploadIcons/0020_999_1571911750_Radarr_256.png"
        url: "https://radarr.frai.se"
        subtitle: "Movie Tracker"
        tag: wireguard
      - name: "Sonarr"
        logo: "https://raw.githubusercontent.com/Sonarr/Sonarr/develop/Logo/256.png"
        url: "https://sonarr.frai.se"
        subtitle: "Series Tracker"
        tag: wireguard
      - name: "Books"
        logo: "https://daisy.org/wp-content/uploads/2020/07/apple-books-app-icon.png"
        url: "https://books.frai.se"
        subtitle: "Calibre Web - Kobo"
        tag: wireguard
      - name: "Calibre"
        logo: "https://upload.wikimedia.org/wikipedia/commons/c/cf/Calibre_logo_3.png"
        url: "https://calibre.frai.se"
        subtitle: "Books Archive"
        tag: wireguard

  - name: "Networking"
    icon: "fas fa-ethernet"
    items:
      - name: "Adguard Home"
        logo: "https://upload.wikimedia.org/wikipedia/commons/4/48/AdGuard_Logo.png"
        url: "https://adguard.frai.se"
        subtitle: "Network wide ad-blocker"
        tag: wireguard
      - name: "Mikrotik"
        logo: "https://merch.mikrotik.com/cdn/shop/files/512.png"
        url: "https://ironman.frai.se"
        subtitle: "Web management router"
      - name: "Portainer"
        logo: "https://avatars1.githubusercontent.com/u/22225832"
        url: "https://portainer.frai.se/"
        subtitle: "Container orchestrator"
        tag: wireguard
      - name: "TrueNAS"
        logo: "https://i.imgur.com/XI8Ilf6.png"
        url: "https://truenas.frai.se/"
        subtitle: "Virtual Environment"
        tag: wireguard
      - name: "Traefik"
        logo: "https://icon.icepanel.io/Technology/svg/Traefik-Proxy.svg"
        url: "https://traefik.frai.se"
        subtitle: "Reverse proxy"
        tag: wireguard
      - name: "UNMS"
        logo: "https://i.imgur.com/17hyHHu.png"
        url: "https://unms.frai.se"
        subtitle: "Ubiquiti network management"
      - name: "Netbox"
        logo: "https://raw.githubusercontent.com/wiki/netbox-community/netbox/images/logos/netbox_icon.svg"
        url: "https://netbox.frai.se"
        subtitle: "IPAM Tool"
        tag: wireguard
  - name: "Monitoring"
    icon: "fab fa-cloudscale"
    items:
      - name: "Grafana"
        logo: "https://grafana.com/static/img/logos/grafana_logo_swirl-events.svg"
        subtitle: "Dashboarding instance"
        url: "https://grafana.frai.se"
        tag: wireguard
      - name: "Prometheus"
        logo: "https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Prometheus_software_logo.svg/1200px-Prometheus_software_logo.svg.png"
        # subtitle: "Monitoring metrics database"
        tag: wireguard
        url: "https://prometheus.frai.se/"
        type: "Prometheus"
      - name: "Upptime"
        subtitle: "Github Pages powered Monitoring"
        logo: "https://upptime.js.org/img/icon.svg"
        url: "https://status.frai.se"
