{
    "description": "scrutiny allow bucket",
    "orgID": "{{ org_api_result.json.id }}",
    "permissions": [
      {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "annotations"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "annotations"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "authorizations"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "authorizations"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "buckets"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "buckets"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "checks"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "checks"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "dashboards"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "dashboards"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "dbrp"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "dbrp"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "documents"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "documents"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "labels"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "labels"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "notebooks"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "notebooks"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "notificationEndpoints"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "notificationEndpoints"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "notificationRules"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "notificationRules"
        }
    },
    {
        "action": "read",
        "resource": {
            "id": "{{ org_api_result.json.id }}",
            "type": "orgs"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "remotes"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "remotes"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "replications"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "replications"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "scrapers"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "scrapers"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "secrets"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "secrets"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "sources"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "sources"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "tasks"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "tasks"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "telegrafs"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "telegrafs"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "variables"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "variables"
        }
    },
    {
        "action": "read",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "views"
        }
    },
    {
        "action": "write",
        "resource": {
            "orgID": "{{ org_api_result.json.id }}",
            "type": "views"
        }
    }
    ],
    "userID": "{{ user_api_result.json.id }}"
}