[Unit]
Description=Prometheus Node Exporter
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart={% if node_exporter_vrf is defined %}/usr/bin/ip vrf exec {{ node_exporter_vrf }} {% endif %}/usr/local/bin/node_exporter
SyslogIdentifier=node_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
