---
# https://hub.docker.com/_/mongo
- name: Create a volume for mongo data
  community.docker.docker_volume:
    name: data_mongo_{{ mongo_major_version }}

- name: Setup Mongo
  community.docker.docker_container:
    name: mongo
    image: mongo:{{ mongo_major_version }}
    networks:
      - name: networking
    dns_servers: "{{ dns.servers }}"
    volumes:
      - "data_mongo_{{ mongo_major_version }}:/data/db"
    env:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: "{{ mongo_root_password }}"
    ulimits:
      - "nproc:64000:64000"
      - "nofile:64000:64000"
    restart: true
    restart_policy: always
    state: started
    labels:
      traefik.enable: "false"
      wud.tag.include: '^{{ mongo_major_version }}$'
      wud.watch.digest: "true"
