[Interface]
Address = 172.16.35.1/24, 2a0e:b107:1165:35::1/64
ListenPort = 2034
PrivateKey = {{ wireguard_private_key_server }}

[Peer]
# Name = wgPC
PublicKey = XyqkZz1WTp5w6bIHawjKq5BD6bwv8I/pKjHyHQ38WQo=
AllowedIPs = 172.16.35.2/32, 2a0e:b107:1165:35::2/128
PersistentKeepalive = 25

[Peer]
# Name = wgPhone
PublicKey = 9ANCaHh7VLEU6lIpUeBGd4wkAeYZ+CvCjmAb781h+V4=
AllowedIPs = 172.16.35.3/32, 2a0e:b107:1165:35::3/128
PersistentKeepalive = 25

[Peer]
# Name = wgLaptop
PublicKey = fHxNHGjMCnpvcRZ/GHK2+rWMyl2h9uaXfgZYJBJYjhI=
AllowedIPs = 172.16.35.4/32, 2a0e:b107:1165:35::4/128
PersistentKeepalive = 25

[Peer]
# Name = wgAmelle
PublicKey = tw0Ak6w3rXluywGHYxo7bKBvriWOQpS9EaxBQrcuVEw=
AllowedIPs = 172.16.35.5/32, 2a0e:b107:1165:35::5/128
PersistentKeepalive = 25

[Peer]
# Name = wgAmellePhone
PublicKey = 36KGi9swMqW2jSSvKBAzdY7XmjGb7Dg1iZ8YEdT7Ywg=
AllowedIPs = 172.16.35.6/32, 2a0e:b107:1165:35::6/64
PersistentKeepalive = 25
