[Interface]
Address = 172.16.35.2/32, 2a12:4946:4000:35::2/128
PrivateKey = {{ wireguard_private_key_pc }}
DNS = 10.33.0.31

[Peer]
# Name = Home
PublicKey = hm0YkMbjlbFfLUJ6p8Lulqgv3UFd4Zu014QB8tE2hFw=
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = wireguard.frai.se:2034
PersistentKeepalive = 25
