---
- name: Debian based Setup
  when: ansible_facts["os_family"] == "Debian"
  tags: install
  block:
    - name: PBS - Add proxmox repo
      ansible.builtin.deb822_repository:
        name: pbs-no-subscription
        types: deb
        uris: http://download.proxmox.com/debian/pbs
        suites: "{{ ansible_facts['distribution_release'] }}"
        signed_by: https://enterprise.proxmox.com/debian/proxmox-archive-keyring-{{ ansible_facts['distribution_release'] }}.gpg
        components:
          - pbs-no-subscription
    - name: PBS - Install PBS
      ansible.builtin.apt:
        update_cache: true
        name:
          - proxmox-backup-server
        state: present
