APP_ENV=production
APP_DEBUG=false
APP_URL=https://time.unitix.be
APP_FORCE_HTTPS=true
TRUSTED_PROXIES={{ traefik.dco.ip }},{{ traefik.dco.ipv6 }}

# Authentication
APP_KEY={{ solidtime_app_key }}
PASSPORT_PRIVATE_KEY={{ solidtime_passport_private_key }}
PASSPORT_PUBLIC_KEY={{ solidtime_passport_public_key }}
SUPER_ADMINS=solidtime@unitix.be
APP_ENABLE_REGISTRATION=false

# Logging
LOG_CHANNEL=stderr
LOG_LEVEL=debug

# Mail
MAIL_MAILER=log

# Cache
CACHE_DRIVER=file

# Database
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_SSLMODE=require
DB_DATABASE=solidtime
DB_USERNAME={{ solidtime_postgres_user }}
DB_PASSWORD={{ solidtime_postgres_pass }}
# Queue
QUEUE_CONNECTION=database

# File storage
FILESYSTEM_DISK=local
PUBLIC_FILESYSTEM_DISK=public

# Services
GOTENBERG_URL=http://gotenberg:3000
