pid        /tmp/nginx.pid;
events {}
http {
  server {
    listen         8080 default_server;
    server_name    frai.se;

   location / {
      proxy_pass http://homepage:3000;
      proxy_set_header X-Forwarded-For $remote_addr;
      client_max_body_size 128m;
    }

    location /.well-known/matrix/server {
      return 200 '{"m.server": "{{ matrix_base_url }}:443"}';
    }

    location /.well-known/matrix/client {
      add_header Access-Control-Allow-Origin *;

      return 200 '{"m.homeserver": {"base_url": "https://{{ matrix_base_url }}"} }';
    }

    location /.well-known/matrix/support {
      add_header Access-Control-Allow-Origin *;

      return 200 '{"contacts": [{"email_address": "matrix-support@frai.se","matrix_id": "@gianni:frai.se","role": "m.role.admin"}]}';
    }
  }
  client_body_temp_path /tmp/client_temp;
  proxy_temp_path       /tmp/proxy_temp_path;
  fastcgi_temp_path     /tmp/fastcgi_temp;
  uwsgi_temp_path       /tmp/uwsgi_temp;
  scgi_temp_path        /tmp/scgi_temp;

}
