# /etc/ddclient/ddclient.conf
#
daemon=300
syslog=yes
pid=/var/run/ddclient/ddclient.pid
ssl=yes
protocol=dyndns2
use=web

##
## CloudFlare Frai.se
##
protocol=cloudflare,        \
zone=frai.se,            \
ttl=1,                      \
login={{ cloudflare_api_email }},     \
password={{ cloudflare_api_token }}             \
{% for pub_domain in ([] + domains.fraise.direct) -%}
{%- if pub_domain.name == "@" -%}
frai.se
{%- if not loop.last %},{% endif -%}
{%- elif pub_domain.ipv4 is not defined -%}
{{ pub_domain.name }}.frai.se
{%- if not loop.last %},{% endif -%}
{%- endif -%}
{% endfor %}
