# /etc/ddclient/ddclient.conf
#
daemon=300
syslog=yes
pid=/var/run/ddclient/ddclient.pid
ssl=yes
protocol=dyndns2
use=web web=https://ifconfig.me/ip

##
## CloudFlare Frai.se
##
protocol=cloudflare,        \
zone=frai.se,            \
ttl=1,                      \
login={{ cloudflare_api_email }},     \
password={{ cloudflare_api_token }}             \
{% for pub_domain in ([] + domain.external) -%}
{%- if pub_domain.ipv4 is not defined and pub_domain.domain == "frai.se" -%}
{{ pub_domain.name }}.frai.se
{%- if not loop.last %},{% endif -%}
{%- endif -%}
{% endfor %}
