---
- name: Restart node_exporter
  ansible.builtin.systemd:
    name: node_exporter
    state: restarted
  become: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: Restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted
    enabled: true
  become: true

- name: Reload networking
  ansible.builtin.command: ifreload -a
  become: true
  changed_when: false

- name: Restart chrony
  ansible.builtin.systemd:
    name: chronyd
    state: restarted
  become: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: Restart alloy  # reload does not work for new unix groups
  ansible.builtin.systemd:
    name: alloy
    state: restarted
  become: true
  ignore_errors: "{{ ansible_check_mode }}"
