[Unit]
Description=ACCWeb Service
After=network-online.target

[Service]
Type=simple
User=acc
Group=acc
ExecStart=/home/acc/accweb/accweb
WorkingDirectory=/home/acc/accweb
SyslogIdentifier=accweb
Restart=always
RestartSec=20
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
