{
  "ips": {
    "generic":	["{{ docker_network.ipv4_prefix }}{{ docker_network.hosts.lancache_monolitic }}"]
  },
  "cache_domains": {
    "blizzard":     "generic",
    "epicgames":    "generic",
    "nintendo":     "generic",
    "origin":       "generic",
    "riot":         "generic",
    "sony":         "generic",
    "steam":        "generic",
    "uplay":        "generic",
    "xboxlive":     "generic",
    "wsus":         "generic"
  }
}
