---
- name: Create alertmanager config directory
  ansible.builtin.file:
    path: "{{ docker.dir.config }}/prometheus_alertmanager"
    state: directory
    mode: "0755"
    owner: "{{ nobody.group }}"
    group: "{{ nobody.group }}"

- name: Copy alertmanager config
  ansible.builtin.template:
    src: alertmanager.yml.j2
    dest: "{{ docker.dir.config }}/prometheus_alertmanager/alertmanager.yml"
    owner: "{{ nobody.user }}"
    group: "{{ nobody.group }}"
    mode: "0755"

- name: Setup prometheus alertmanager
  community.docker.docker_container:
    name: prometheus-alertmanager
    image: quay.io/prometheus/alertmanager:latest
    dns_servers: "{{ dns.servers }}"
    networks:
      - name: monitoring
    volumes:
      - "{{ docker.dir.config }}/prometheus_alertmanager:/etc/alertmanager"
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
      - "--storage.path=/alertmanager"
      - "--web.external-url=https://alertmanager.frai.se"
    restart: true
    restart_policy: always
    state: started
    pull: true
    labels:
      traefik.http.routers.alertmanager.rule: "Host(`alertmanager.frai.se`)"
      traefik.http.routers.alertmanager.tls: "true"
      traefik.http.routers.alertmanager.tls.certresolver: "le"
      traefik.http.services.alertmanager.loadbalancer.server.port: "9093"
