---
- name: Create a volume for prometheus data
  community.docker.docker_volume:
    name: data_prometheus

- name: Create prometheus config directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
    owner: "{{ nobody.group }}"
    group: "{{ nobody.group }}"
    recurse: true
  with_items:
    - "{{ docker.dir.config }}/prometheus"
  tags: config

- name: Copy prometheus config
  ansible.builtin.template:
    src: "{{ playbook_dir }}/host_files/{{ inventory_hostname | lower }}/templates/prometheus/{{ item }}.j2"
    dest: "{{ docker.dir.config }}/prometheus/{{ item }}"
    owner: "{{ nobody.user }}"
    group: "{{ nobody.group }}"
    mode: "0755"
  loop:
    - prometheus.yml
  tags: config

- name: Copy prometheus files
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/host_files/{{ inventory_hostname | lower }}/files/prometheus/{{ item }}"
    dest: "{{ docker.dir.config }}/prometheus/{{ item }}"
    owner: "{{ nobody.user }}"
    group: "{{ nobody.group }}"
    mode: "0755"
  loop:
    - "file_sd/"
    - "alerts.d/"
  tags: config,targets

- name: Setup prometheus docker container
  community.docker.docker_container:
    name: prometheus
    image: quay.io/prometheus/prometheus:latest
    networks:
      - name: monitoring
        ipv4_address: "{{ docker.networks.monitoring.ipam[0].subnet \
          | ansible.utils.ipsubnet(24, 0) \
          | ansible.utils.ipaddr(docker.networks.monitoring.hosts.prometheus) \
          | ansible.utils.ipaddr('address') if docker.networks.monitoring.hosts.prometheus is defined else omit }}"
        ipv6_address: "{{ (docker.networks.monitoring.ipam[1].subnet | ansible.utils.ipaddr('network') \
          + docker.networks.monitoring.hosts.prometheus) if docker.ipv6|default(true) and docker.networks.monitoring.hosts.prometheus is defined else omit }}"
    dns_servers: "{{ dns.servers }}"
    volumes:
      - "{{ docker.dir.config }}/prometheus:/config:ro"
      - "data_prometheus:/prometheus"
    command:
      - "--config.file=/config/prometheus.yml"
      - "--storage.tsdb.retention.time=3000d"
      - "--web.enable-admin-api"
      - "--web.external-url=https://prometheus.frai.se"
    restart: true
    restart_policy: always
    state: started
    labels:
      traefik.http.routers.prometheus.tls: "true"
      traefik.http.routers.prometheus.tls.certresolver: "le"
      traefik.http.services.prometheus.loadbalancer.server.port: "9090"
  tags: config
