---
- name: Setup prometheus speedtest exporter
  community.docker.docker_container:
    name: prometheus-speedtest_exporter
    image: ghcr.io/miguelndecarvalho/speedtest-exporter:latest
    networks:
      - name: monitoring
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://0.0.0.0:9798/"
      timeout: 10s
    dns_servers: "{{ dns.servers }}"
    restart: true
    restart_policy: always
    state: started
    pull: true
    labels:
      traefik.enable: "false"
