---
- name: DATE - Set timezone to UTC
  community.general.timezone:
    name: "Etc/UTC"

- name: DATE - Remove unneeded packages
  ansible.builtin.package:
    name:
      - ntp
      - systemd-timesyncd
    state: absent

- name: DATE - Install chrony
  ansible.builtin.package:
    name: chrony

- name: DATE - Enable and start chrony  # 'chronyc tracking' for status
  ansible.builtin.systemd:
    name: chronyd
    state: started
    enabled: true

- name: DATE - Set Chrony config
  ansible.builtin.template:
    src: chrony.conf.j2
    dest: /etc/chrony/chrony.conf
    mode: "0644"
    owner: root
    group: root
  notify: Restart chrony

- name: DATE - Flush handlers
  ansible.builtin.meta: flush_handlers
