---
- name: Debian based Setup
  when: ansible_facts["os_family"] == "Debian"
  tags: install
  block:
    - name: ALLOY - Add grafana repo
      ansible.builtin.deb822_repository:
        name: grafana
        types: deb
        uris: https://apt.grafana.com
        suites: stable
        components: main
        architectures: amd64
        signed_by: https://apt.grafana.com/gpg.key
    - name: ALLOY - Install alloy
      ansible.builtin.apt:
        update_cache: true
        name:
          - alloy
        state: present

- name: ALLOY - Add alloy user to docker group
  ansible.builtin.user:
    name: alloy
    groups: docker
    append: true
  when: "'tag_docker' in group_names"

- name: ALLOY - Add alloy user to journal group
  ansible.builtin.user:
    name: alloy
    groups: "{{ item }}"
    append: true
  loop:
    - adm
    - systemd-journal

- name: ALLOY - Disable reporting
  ansible.builtin.lineinfile:
    path: /etc/default/alloy
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - regexp: '^CUSTOM_ARGS='
      line: 'CUSTOM_ARGS="--disable-reporting=true"'
  notify: Restart alloy

- name: ALLOY - Enable and start alloy
  ansible.builtin.systemd:
    name: alloy
    state: started
    daemon_reload: true
    enabled: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: ALLOY - Copy alloy config
  ansible.builtin.template:
    src: "config.alloy.j2"
    dest: "/etc/alloy/config.alloy"
    owner: root
    group: root
    mode: "0644"
  notify: Restart alloy
