---
- name: HOSTNAME - Sanitize hostname
  ansible.builtin.set_fact:
    common_sanitized_hostname: "{{ inventory_hostname | lower | replace('_', '-') }}"

- name: HOSTNAME - Update hostname
  ansible.builtin.hostname:
    name: "{{ common_sanitized_hostname }}"

- name: HOSTNAME - Set in /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '{{ common_sanitized_hostname }}'
    line: '{{ primary_ip4 }}
      {{ common_sanitized_hostname }}.{{ dns.domain }}
      {{ common_sanitized_hostname }}'
