---
- name: HOSTNAME - Update hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname | lower | replace('_', '-') }}"

- name: HOSTNAME - Set in /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^{{ static_ip | default("127.0.1.1") }}'
    line: '{{ static_ip | default("127.0.1.1") }}
      {{ inventory_hostname | lower | replace("_", "-") }}.{{ dns.domain }}
      {{ inventory_hostname | lower | replace("_", "-") }}'
