---
- name: Initial Setup tasks for clean host
  ansible.builtin.include_tasks:
    file: 00-setup.yml
    apply:
      tags:
        - setup
  when: initial_setup|default("no") == "yes"

- name: Gather host facts
  ansible.builtin.setup:
  tags: always

- name: Run hostname tasks
  ansible.builtin.import_tasks: hostname.yml
  tags: hostname

- name: Run date tasks
  ansible.builtin.import_tasks: date.yml
  tags: date

- name: Run package tasks
  ansible.builtin.import_tasks: packages.yml
  tags: packages

- name: Run user tasks
  ansible.builtin.import_tasks: users.yml
  tags: users

- name: Run sshd tasks
  ansible.builtin.import_tasks: sshd.yml
  tags: sshd,ssh

- name: Run dns tasks
  ansible.builtin.import_tasks: dns.yml
  tags: dns

- name: Run node_exporter tasks
  ansible.builtin.import_tasks: node_exporter.yml
  tags: node_exporter

- name: Run networking tasks
  ansible.builtin.import_tasks: networking.yml
  tags: networking

- name: Run mounts tasks
  ansible.builtin.include_tasks:
    file: mounts.yml
    apply:
      tags:
        - mounts
  tags: always
  when: mounts is defined

- name: Run alloy config tasks
  ansible.builtin.import_tasks: alloy.yml
  tags: alloy

- name: Run action1 config tasks
  ansible.builtin.import_tasks: action1.yml
  tags: action1
