---
- name: Debian based Setup
  when: ansible_os_family == "Debian"
  tags: install
  block:
    - name: Install docker dependency packages
      ansible.builtin.apt:
        name:
          - ca-certificates
          - curl
          - gnupg
        state: present
    - name: Add Docker repo
      ansible.builtin.deb822_repository:
        name: docker
        types: deb
        uris: https://download.docker.com/linux/{{ ansible_distribution | lower }}
        suites: "{{ ansible_distribution_release }}"
        components: stable
        architectures: amd64
        signed_by: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
    - name: Install docker
      ansible.builtin.apt:
        update_cache: true
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present

- name: Create systemd config directory
  ansible.builtin.file:
    path: /etc/systemd/system/docker.service.d/
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Change docker startup command
  ansible.builtin.template:
    src: "{{ item.file }}.j2"
    dest: "{{ item.location }}{{ item.file }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - file: override.conf
      location: /etc/systemd/system/docker.service.d/
  notify: Restart docker

- name: Force all notified handlers to run at this point, not waiting for normal sync points
  ansible.builtin.meta: flush_handlers

- name: Enable docker service
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true

- name: Create docker networks
  community.docker.docker_network:
    name: "{{ item.key }}"
    driver: "{{ item.value.type | default('bridge') }}"
    enable_ipv6: "{{ item.value.ipv6 | default(false) }}"
    driver_options: "{{ item.value.driver_options | default(omit) }}"
    ipam_config: "{{ item.value.ipam | default(omit) }}"
  loop: "{{ docker.networks | dict2items }}"
  tags: networks,network,ipam
  notify: Restart docker
  when: docker.networks is defined

- name: Change docker vars (including default subnet)
  ansible.builtin.copy:
    src: "{{ item.file }}"
    dest: "{{ item.location }}{{ item.file }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - file: daemon.json
      location: /etc/docker/
  notify: Restart docker

- name: Log into DockerHub
  community.docker.docker_login:
    username: "{{ docker.login.username }}"
    password: "{{ docker.login.password }}"
  tags: docker_login

- name: Add default_user to docker group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: true
  loop: "{{ docker.users }}"
