http:
  services:
    jackett:
      loadBalancer:
        servers:
          - url: "http://{{ docker_network.jackett }}:9117"
    deluge:
      loadBalancer:
        servers:
          - url: "http://{{ docker_network.deluge }}:8112"
    plex:
      loadBalancer:
        servers:
          - url: "http://{{ docker_network.plex }}:32400"
    radarr:
      loadBalancer:
        servers:
          - url: "http://{{ docker_network.radarr }}:7878"
    calibre:
      loadBalancer:
        servers:
          - url: "http://{{ docker_network.calibre }}:8080"
    calibre-web:
      loadBalancer:
        servers:
          - url: "http://{{ docker_network.calibre_web }}:8083"
    ironman:
      loadBalancer:
        servers:
          - url: "https://10.33.0.1:8443"
  routers:
    jackett:
      rule: "Host(`jackett.frai.se`)"
      service: "jackett"
      tls:
        certResolver: le
        domains:
          - main: "*.frai.se"
    deluge:
      rule: "Host(`deluge.frai.se`)"
      service: "deluge"
      tls:
        certResolver: le
        domains:
          - main: "*.frai.se"
    plex:
      rule: "Host(`plex.frai.se`)"
      service: "plex"
      tls:
        certResolver: le
        domains:
          - main: "*.frai.se"
    radarr:
      rule: "Host(`radarr.frai.se`)"
      service: "radarr"
      tls:
        certResolver: le
        domains:
          - main: "*.frai.se"
    calibre:
      rule: "Host(`calibre.frai.se`)"
      service: "calibre"
      tls:
        certResolver: le
        domains:
          - main: "*.frai.se"
    calibre-web:
      rule: "Host(`books.frai.se`)"
      service: "calibre-web"
      tls:
        certResolver: le
        domains:
          - main: "*.frai.se"
    ironman:
      rule: "Host(`ironman.frai.se`)"
      service: "ironman"
      tls:
        certResolver: le
        domains:
          - main: "*.frai.se"
