http:
  services:
{% for rule in traefik_custom_rules %}
    {{ rule.name }}:
        loadBalancer:
          servers:
            - url: "{{ rule.target }}"
{% endfor %}
  routers:
{% for rule in traefik_custom_rules %}
    {{ rule.name }}:
        rule: "Host(`{{ rule.name }}.frai.se`)"
        service: "{{ rule.name }}"
        tls:
          certResolver: le
          domains:
            - main: "*.frai.se"
{% endfor %}
  middlewares:
    corsheaders:
      headers:
        accessControlAllowMethods:
          - GET
          - OPTIONS
          - PUT
        accessControlAllowHeaders: "*"
        accessControlAllowOriginList:
          - https://frai.se

