---
# setup traefik with a docker container
# container from: https://docs.traefik.io/getting-started/quick-start/

- name: Create traefik config directory
  ansible.builtin.file:
    path: "{{ docker.dir.config }}/traefik"
    state: directory
    mode: "0600"
    owner: root
    group: root

- name: Copy Traefik config
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ docker.dir.config }}/traefik/{{ item }}"
    owner: root
    group: root
    mode: "0755"
  loop:
    - custom_rules.yml

- name: Create a volume for letsencrypt
  community.docker.docker_volume:
    name: data_traefik_letsencrypt

- name: Set network var
  ansible.builtin.set_fact:
    traefik_network: "{{ traefik_network | default('services') }}"

- name: Setup traefik docker container
  community.docker.docker_container:
    name: traefik
    image: traefik:latest
    networks:
      - name: "{{ traefik_network }}"
        ipv4_address: "{{ docker.networks[traefik_network].ipam[0].subnet \
          | ansible.utils.ipsubnet(24, 0) \
          | ansible.utils.ipaddr(docker.networks[traefik_network].hosts.traefik) \
          | ansible.utils.ipaddr('address') if docker.networks[traefik_network].hosts.traefik is defined else omit }}"
        ipv6_address: "{{ (docker.networks[traefik_network].ipam[1].subnet | ansible.utils.ipaddr('network') \
          + docker.networks[traefik_network].hosts.traefik) if docker.ipv6|default(true)
          and docker.networks[traefik_network].hosts.traefik is defined else omit }}"
    dns_servers: "{{ dns.servers }}"
    command:
      - --global.sendAnonymousUsage=false
      - --entryPoints.web.address=:80
      - --entryPoints.web.http.redirections.entryPoint.to=web-secure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entryPoints.web-secure.address=:443
      - --entryPoints.traefik.address=:8080
      - --api=true
      - --api.dashboard=true
      - --api.insecure=true
      - --log=true
      - --log.level=INFO
      - --providers.docker=true
      - --providers.docker.endpoint=unix:///var/run/docker.sock
      - --providers.docker.defaultRule=Host(`{{ traefik.rule | default('{{' + ' .Name ' + '}}.frai.se') }}`)
      - --providers.docker.exposedByDefault=true
      - --providers.file.filename=/etc/traefik/custom_rules.yml
      - --providers.file.watch=true
      - --certificatesResolvers.le.acme.email={{ letsencrypt_email }}
      - --certificatesResolvers.le.acme.storage=/letsencrypt/acme.json
      - --certificatesResolvers.le.acme.dnsChallenge.provider=cloudflare
      - --certificatesResolvers.le.acme.dnsChallenge.resolvers=molly.ns.cloudflare.com,rudy.ns.cloudflare.com
      - --serversTransport.insecureSkipVerify=true
    volumes:
      - "data_traefik_letsencrypt:/letsencrypt"
      - "{{ docker.dir.config }}/traefik/custom_rules.yml:/etc/traefik/custom_rules.yml:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
    env:
      CF_API_EMAIL: "{{ cloudflare_api_email }}"
      CF_API_KEY: "{{ cloudflare_api_token }}"
    restart: true
    restart_policy: always
    state: started
    pull: true
    labels:
      traefik.enable: "true"
      traefik.http.routers.api.rule: Host(`traefik.frai.se`)
      traefik.http.routers.api.tls: "true"
      traefik.http.routers.api.tls.certresolver: "le"
      traefik.http.routers.api.service: "api@internal"
      traefik.http.services.api.loadbalancer.server.port: "8080"
