[Interface]
Address = 172.16.35.4/32
PrivateKey = {{ wireguard_private_key_laptop }}
DNS = 1.1.1.1

[Peer]
# Name = Home
PublicKey = hm0YkMbjlbFfLUJ6p8Lulqgv3UFd4Zu014QB8tE2hFw=
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = ironman.frai.se:2034
PersistentKeepalive = 25
