version: 4
homeassistant:
  enabled: true
frontend:
  enabled: true
  url: https://z2m.frai.se
advanced:
  network_key:
    - 49
    - 148
    - 46
    - 229
    - 225
    - 132
    - 3
    - 168
    - 57
    - 64
    - 168
    - 166
    - 157
    - 210
    - 192
    - 135
  channel: 15
  log_level: warning
  homeassistant_legacy_entity_attributes: false
  homeassistant_legacy_triggers: false
  legacy_api: false
  legacy_availability_payload: false
log_output:
  - console
mqtt:
  base_topic: zigbee2mqtt
  server: mqtt://mosquitto
  version: 5
serial:
  port: /dev/ttyACM0
  adapter: zstack
device_options:
  legacy: false
devices:
  '0x003c84fffe1fd811':
    friendly_name: Garage Switch
    legacy: false
  '0x385b44fffe1d4d4e':
    friendly_name: Outlet Ikea
  '0xa4c138ca3d9cffd0':
    friendly_name: Tuin Outlet Sproeier
availability:
  enabled: true
