# setup zigbee2mqtt with a docker container
# container from: https://www.zigbee2mqtt.io/guide/installation/02_docker.html

- name: Z2M - Create mqtt config directory
  ansible.builtin.file:
    path: "{{ docker.dir.config }}/z2m"
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Z2M - Copy config file to docker volume
  ansible.builtin.template:
    src: z2mconfig.yml.j2
    dest: "{{ docker.dir.config }}/z2m/configuration.yaml"
    mode: "0755"
    owner: root
    group: root

- name: Z2M - Setup zigbee2mqtt docker container
  community.docker.docker_container:
    name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:latest
    networks:
      - name: services
    dns_servers:
      - "{{ dns_servers.adguard.home.ipv6 }}"
      - "{{ dns_servers.adguard.home.ip }}"
      - "{{ dns_servers.adguard.dco.ipv6 }}"
      - "{{ dns_servers.adguard.dco.ip }}"
    volumes:
      - "{{ docker.dir.config }}/z2m:/app/data"
      - "/run/udev:/run/udev:ro"
    devices:
      - "/dev/serial/by-id/usb-Silicon_Labs_Sonoff_Zigbee_3.0_USB_Dongle_Plus_0001-if00-port0:/dev/ttyACM0"
    restart: true
    restart_policy: always
    state: started
    pull: true
    labels:
      traefik.http.routers.z2m.rule: "Host(`z2m.frai.se`)"
      traefik.http.routers.z2m.tls: "true"
      traefik.http.routers.z2m.tls.certresolver: "le"
      traefik.http.services.z2m.loadbalancer.server.port: "8080"
