---
# for initial run don't forget --ask-become-pass and --ask-pass

- name: Run common role
  hosts:
    - platform_debian_13
    - platform_proxmox
  gather_facts: false
  connection: ssh
  become: true
  roles:
    - common
    - role: firewall
      tags: firewall
