---
- name: Setup monitoring (grafana & prometheus)
  hosts: tag_prometheus
  connection: ssh
  become: true
  roles:
    - role: prometheus
      tags: prometheus
    - role: loki
      tags: loki
    - role: grafana
      tags: grafana
