---
- name: Patch systems gradually
  hosts: platform_debian
  gather_facts: false
  become: true
  serial:
    - 30%
    - 60%
    - 100%
  roles:
    - role: patch

- name: Patch systems gradually
  hosts: platform_proxmox
  gather_facts: false
  become: true
  serial:
    - 1
  roles:
    - role: patch
