---
- name: Setup Scrutiny Server
  hosts: BEOKPDCOVM01
  connection: ssh
  become: true
  roles:
    - role: influxdb
      tags: influx,influxdb
    - role: scrutiny
  vars:
    scrutiny_hub: true

- name: Setup Scrutiny collector
  hosts: platform_proxmox
  connection: ssh
  become: true
  roles:
    - role: scrutiny
  vars:
    scrutiny_collector: true
