---
route:
  receiver: default
  group_wait: 15s
  group_interval: 2m
  group_by: ['site']
  repeat_interval: 10000h

receivers:
  - name: default
    # N8N to matrix
    webhook_configs:
      - url: https://n8n.frai.se/webhook/ab3fd72d-36c1-4977-beaa-0af2ea2c73f7
