---
global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "prometheus-alertmanager:9093"

rule_files:
  - "alerts.d/*.yml"

scrape_configs:
  - job_name: 'blackbox_icmp'
    metrics_path: /probe
    params:
      module: [icmp]
    file_sd_configs:
      - files:
          - '/config/file_sd/targets_blackbox_icmp.yml'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "prometheus-blackbox_exporter:9115"
  
  - job_name: 'general-icmp'
    http_sd_configs:
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/devices/?status=active
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/virtual-machines/?status=active
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
    metrics_path: /probe
    params:
      module:
        - icmp
    relabel_configs:
      - source_labels: [__meta_netbox_primary_ip]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - source_labels: [__meta_netbox_name]
        target_label: node_name
      - source_labels: [__meta_netbox_site]
        target_label: site
      - source_labels: [__meta_netbox_tenant]
        target_label: tenant
      - source_labels: [__meta_netbox_role_slug]
        target_label: device_role
      - target_label: __address__
        replacement: "prometheus-blackbox_exporter:9115"
  
  - job_name: 'public-icmp'
    http_sd_configs:
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/devices/?status=active&cf_dyndns=.
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/virtual-machines/?status=active&cf_dyndns=.
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
    metrics_path: /probe
    params:
      module:
        - icmp
    relabel_configs:
      - source_labels: [__meta_netbox_custom_field_dyndns]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - source_labels: [__meta_netbox_name]
        regex: (.*)
        replacement: 'PUB - $1'
        target_label: node_name
      - source_labels: [__meta_netbox_site]
        target_label: site
      - source_labels: [__meta_netbox_tenant]
        target_label: tenant
      - source_labels: [__meta_netbox_role_slug]
        target_label: device_role
      - target_label: __address__
        replacement: "prometheus-blackbox_exporter:9115"

  - job_name: 'blackbox_http'
    scrape_interval: 5m
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
      - files:
          - '/config/file_sd/targets_blackbox_http.yml'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "prometheus-blackbox_exporter:9115"

  - job_name: 'node_exporter'
    http_sd_configs:
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/virtual-machines/?status=active&platform=debian-12
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
    relabel_configs:
      - source_labels: [__meta_netbox_primary_ip]
        target_label: instance
      - source_labels: [__meta_netbox_name]
        target_label: node_name
      - source_labels: [__meta_netbox_site]
        target_label: site
      - source_labels: [__meta_netbox_tenant]
        target_label: tenant
      - source_labels: [__meta_netbox_role_slug]
        target_label: device_role
      - source_labels: [__meta_netbox_primary_ip]
        regex: (.*)
        replacement: '$1:9100'
        target_label: __address__

  - job_name: 'frr_exporter'
    http_sd_configs:
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/virtual-machines/?status=active&tag=frr
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
    relabel_configs:
      - source_labels: [__meta_netbox_primary_ip]
        target_label: instance
      - source_labels: [__meta_netbox_name]
        target_label: node_name
      - source_labels: [__meta_netbox_site]
        target_label: site
      - source_labels: [__meta_netbox_tenant]
        target_label: tenant
      - source_labels: [__meta_netbox_role_slug]
        target_label: device_role
      - source_labels: [__meta_netbox_primary_ip]
        regex: (.*)
        replacement: '$1:9342'
        target_label: __address__
  
  - job_name: 'docker_exporter'
    http_sd_configs:
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/virtual-machines/?status=active&tag=docker
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
    relabel_configs:
      - source_labels: [__meta_netbox_primary_ip]
        target_label: instance
      - source_labels: [__meta_netbox_name]
        target_label: node_name
      - source_labels: [__meta_netbox_site]
        target_label: site
      - source_labels: [__meta_netbox_tenant]
        target_label: tenant
      - source_labels: [__meta_netbox_role_slug]
        target_label: device_role
      - source_labels: [__meta_netbox_primary_ip]
        regex: (.*)
        replacement: '$1:9323'
        target_label: __address__
  
  - job_name: 'ipmi_exporter'
    metrics_path: /ipmi
    http_sd_configs:
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/devices/?status=active&tag=ipmi
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
    relabel_configs:
      - source_labels: [__meta_netbox_oob_ip]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - source_labels: [__meta_netbox_name]
        target_label: node_name
      - source_labels: [__meta_netbox_site]
        target_label: site
      - source_labels: [__meta_netbox_tenant]
        target_label: tenant
      - source_labels: [__meta_netbox_role_slug]
        target_label: device_role
      - target_label: __address__
        replacement: "prometheus-ipmi_exporter:9290"

  - job_name: 'speedtest'
    scrape_interval: 3h
    scrape_timeout: 3m
    static_configs:
      - targets:
          - "prometheus-speedtest_exporter:9798"

  - job_name: 'graphite'
    static_configs:
      - targets:
          - "prometheus-graphite_exporter:9108"

  - job_name: "hass"
    metrics_path: /api/prometheus
    authorization:
      credentials: "{{ home_assistant_access_token }}"
    scheme: https
    static_configs:
      - targets: ['ha.frai.se']

### SNMP

  - job_name: 'mikrotik-snmp'
    http_sd_configs:
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/devices/?status=active&manufacturer=mikrotik
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
    metrics_path: /snmp
    params:
      module:
        - mikrotik
      auth:
        - fraise_v2
    relabel_configs:
      - source_labels: [__meta_netbox_primary_ip]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - source_labels: [__meta_netbox_name]
        target_label: node_name
      - source_labels: [__meta_netbox_site]
        target_label: site
      - source_labels: [__meta_netbox_tenant]
        target_label: tenant
      - source_labels: [__meta_netbox_role_slug]
        target_label: device_role
      - target_label: __address__
        replacement: "prometheus-snmp_exporter:9116"

  - job_name: 'generic-snmp'
    http_sd_configs:
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/devices/?status=active&manufacturer=mikrotik
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
      - url: https://netbox.frai.se/api/plugins/prometheus-sd/devices/?status=active&role=router&role=switch
        refresh_interval: 5m
        authorization: 
          type: "Token"
          credentials: "{{ netbox_api_token }}"
    metrics_path: /snmp
    params:
      module:
        - if_mib
      auth:
        - fraise_v2
    relabel_configs:
      - source_labels: [__meta_netbox_primary_ip]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - source_labels: [__meta_netbox_name]
        target_label: node_name
      - source_labels: [__meta_netbox_site]
        target_label: site
      - source_labels: [__meta_netbox_tenant]
        target_label: tenant
      - source_labels: [__meta_netbox_role_slug]
        target_label: device_role
      - target_label: __address__
        replacement: "prometheus-snmp_exporter:9116"
