global:
  scrape_interval:     15s 
  evaluation_interval: 15s
  scrape_timeout:      10s 

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'blackbox_icmp'
    metrics_path: /probe
    params:
      module: [icmp]
    file_sd_configs:
    - files:
      - '/config/file_sd/targets_blackbox_icmp*.json'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "[{{ docker_network.ipv6_prefix }}{{ docker_network.hosts.prometheus_blackbox }}]:9115"  # This is your blackbox exporter.

  - job_name: 'blackbox_http'
    scrape_interval: 5m
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
    - files:
      - '/config/file_sd/targets_blackbox_http*.json'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "[{{ docker_network.ipv6_prefix }}{{ docker_network.hosts.prometheus_blackbox }}]:9115"  # This is your blackbox exporter.

  - job_name: 'node_exporter'
    file_sd_configs:
    - files:
      - '/config/file_sd/targets_node_exporter*.json'

  - job_name: 'frr_exporter'
    file_sd_configs:
    - files:
      - '/config/file_sd/targets_frr_exporter*.json'

  - job_name: 'windows_exporter'
    file_sd_configs:
    - files:
      - '/config/file_sd/targets_windows*.json'

  - job_name: 'speedtest'
    metrics_path: /probe
    scrape_interval: 5h
    scrape_timeout: 2m
    static_configs:
    - targets:
      - "{{ docker_network.ipv4_prefix }}{{ docker_network.hosts.prometheus_speedtest }}:9516"

  - job_name: 'solaredge'
    metrics_path: /metrics
    static_configs:
    - targets:
      - "[{{ docker_network.ipv6_prefix }}{{ docker_network.hosts.solaredge_exporter}}]:2112"

  - job_name: 'mikrotik-snmp'
    file_sd_configs:
    - files:
      - '/config/file_sd/targets_mikrotik*.json'
    metrics_path: /snmp
    params:
      module:
        - mikrotik
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "[{{ docker_network.ipv6_prefix }}{{ docker_network.hosts.prometheus_snmp_exporter }}]:9116"  # The SNMP exporter's real hostname:port.

  - job_name: 'ubiquiti-snmp'
    file_sd_configs:
    - files:
      - '/config/file_sd/targets_ubiquiti_edgemax*.json'
    metrics_path: /snmp
    params:
      module:
        - if_mib
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "[{{ docker_network.ipv6_prefix }}{{ docker_network.hosts.prometheus_snmp_exporter }}]:9116"  # The SNMP exporter's real hostname:port.

  - job_name: 'ruckus-snmp'
    file_sd_configs:
    - files:
      - '/config/file_sd/targets_ruckus*.json'
    metrics_path: /snmp
    params:
      module:
        - ruckus_ap
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "[{{ docker_network.ipv6_prefix }}{{ docker_network.hosts.prometheus_snmp_exporter }}]:9116"  # The SNMP exporter's real hostname:port.

  - job_name: 'docker'
    scrape_interval: 2m
    static_configs:
      - targets: ['172.16.33.8:9323']

  - job_name: "hass"
    metrics_path: /api/prometheus
    bearer_token: "{{ home_assistant_access_token }}"
    scheme: https
    static_configs:
      - targets: ['ha.frai.se']
