- id: '1578943797763'
  alias: 'Notification: Garbage Collection'
  description: ''
  triggers:
  - at: '18:45:00'
    trigger: time
  conditions:
  - condition: not
    conditions:
    - condition: state
      entity_id: sensor.tomorrow
      state:
      - None
  actions:
  - data:
      title: AFVAL
      message: '{{ states(''sensor.tomorrow'') }}

        '
      data:
        icon_url: https://i.pinimg.com/originals/86/d9/27/86d92784a2c535e3bd783aec01bd1475.png
    action: notify.notify
  mode: single
- id: '1617014339885'
  alias: 'Notification: Garage Open'
  description: ''
  trigger:
  - platform: state
    entity_id:
    - cover.garage_door
    to: open
    for:
      hours: 0
      minutes: 5
      seconds: 0
  condition: []
  action:
  - service: notify.notify
    data:
      message: Garage has been open for more then 5 minutes!
      title: Garage Open
      data:
        icon_url: https://img2.pngio.com/garage-free-business-icons-bus-garage-png-512_512.png
  mode: single
- id: '1727525867473'
  alias: STYRBAR
  description: ''
  triggers:
  - domain: mqtt
    device_id: b6a7367363b2689386e9ee5467f98824
    type: action
    subtype: 'on'
    id: '1'
    trigger: device
  - domain: mqtt
    device_id: b6a7367363b2689386e9ee5467f98824
    type: action
    subtype: 'off'
    id: '2'
    trigger: device
  - domain: mqtt
    device_id: b6a7367363b2689386e9ee5467f98824
    type: action
    subtype: arrow_right_click
    id: '3'
    trigger: device
  - domain: mqtt
    device_id: b6a7367363b2689386e9ee5467f98824
    type: action
    subtype: arrow_left_click
    id: '4'
    trigger: device
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: '1'
      sequence:
      - target:
          entity_id:
          - switch.in_vooraan
        data: {}
        action: switch.toggle
    - conditions:
      - condition: trigger
        id: '2'
      sequence:
      - metadata: {}
        data: {}
        target:
          entity_id: switch.in_achteraan
        action: switch.toggle
    - conditions:
      - condition: trigger
        id: '3'
      sequence:
      - data: {}
        target:
          entity_id: cover.garage_door
        action: cover.close_cover
    - conditions:
      - condition: trigger
        id: '4'
      sequence:
      - data: {}
        target:
          entity_id: cover.garage_door
        action: cover.open_cover
  mode: single
- id: '1686683677480'
  alias: 'NFC: Toggle Garage'
  description: ''
  trigger:
  - platform: tag
    tag_id: b4bca8cf-e3a4-46b6-8a3c-8b2eedbda5e1
  condition: []
  action:
  - service: cover.toggle
    data: {}
    target:
      entity_id: cover.garage_door
  mode: single
- id: '1689091034422'
  alias: 'NFC: light outside'
  description: ''
  trigger:
  - platform: tag
    tag_id: 66c4f8be-a681-4913-b2a9-6cc87cb77582
  condition: []
  action:
  - type: toggle
    device_id: 5a7e24120c207c869bb3bf761cb438df
    entity_id: b87e6e421ad0896f5896243b85567a30
    domain: switch
  mode: single
- id: '1691999617422'
  alias: 'Notification: Doorbell Ring'
  description: Phone push doorbell
  trigger:
  - platform: state
    entity_id:
    - binary_sensor.cam02_doorbell_doorbell
    to: 'on'
  action:
  - service: notify.mobile_app_pixel_6
    data:
      title: Doorbell
      message: check unifi
      data:
        ttl: 0
        priority: high
        channel: alarm_stream
  mode: single
- id: '1693896260197'
  alias: 'PIR: Light Garage'
  description: ''
  trigger:
  - platform: state
    entity_id:
    - binary_sensor.motion_sensor_motion_detection_2
    to:
  condition: []
  action:
  - choose:
    - conditions:
      - condition: state
        entity_id: binary_sensor.motion_sensor_motion_detection_2
        state: 'on'
      sequence:
      - type: turn_on
        device_id: 5a7e24120c207c869bb3bf761cb438df
        entity_id: 83e7a8a998a7dbd377351e18b3b3e703
        domain: switch
      - type: turn_on
        device_id: 5a7e24120c207c869bb3bf761cb438df
        entity_id: c7ac4270d47c95be72e39e25e9e646f2
        domain: switch
    default:
    - type: turn_off
      device_id: 5a7e24120c207c869bb3bf761cb438df
      entity_id: 83e7a8a998a7dbd377351e18b3b3e703
      domain: switch
    - type: turn_off
      device_id: 5a7e24120c207c869bb3bf761cb438df
      entity_id: c7ac4270d47c95be72e39e25e9e646f2
      domain: switch
  mode: single
- id: '1695750254929'
  alias: 'Automation: Lights off outside'
  description: ''
  triggers:
  - event: sunrise
    id: '1'
    trigger: sun
  - at: '22:30:00'
    id: '2'
    trigger: time
  - at: 08:00:00
    id: '3'
    trigger: time
  - entity_id:
    - binary_sensor.sp816_motion_sensor_motion_detection
    to: 'off'
    id: '4'
    trigger: state
  conditions:
  - condition: or
    conditions:
    - condition: and
      conditions:
      - condition: trigger
        id:
        - '4'
      - condition: time
        after: '22:30:00'
        before: 06:00:00
    - condition: trigger
      id:
      - '1'
      - '2'
      - '3'
  actions:
  - type: turn_off
    device_id: 5a7e24120c207c869bb3bf761cb438df
    entity_id: b87e6e421ad0896f5896243b85567a30
    domain: switch
  mode: single
- id: '1699559709033'
  alias: 'Automation: Light On Outside'
  description: ''
  triggers:
  - event: sunset
    trigger: sun
  - at: 06:30:00
    trigger: time
  - entity_id:
    - binary_sensor.sp816_motion_sensor_motion_detection
    to: 'on'
    trigger: state
  conditions:
  - condition: sun
    before: sunrise
    after: sunset
  actions:
  - type: turn_on
    device_id: 5a7e24120c207c869bb3bf761cb438df
    entity_id: b87e6e421ad0896f5896243b85567a30
    domain: switch
  mode: single
- id: '1744783651686'
  alias: 'Automation: Speaker Sync'
  triggers:
  - entity_id:
    - media_player.kitchen_1
    attribute: volume_level
    trigger: state
  actions:
  - data_template:
      entity_id: '{% set changed_entity = trigger.entity_id %} {% set entities = [''media_player.kitchen_2'']
        %} {{ entities | reject(''equalto'', changed_entity) | list }}

        '
      volume_level: '{{ state_attr(trigger.entity_id, ''volume_level'') }}'
    action: media_player.volume_set
  mode: single
- id: '1765702822999'
  alias: Fingerprint
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - event.deurbel_fingerprint
    attribute: event_type
    to:
    - identified
  conditions: []
  actions:
  - action: notify.mobile_app_pixel_9_pro_xl
    metadata: {}
    data:
      message: Test
  - action: alarm_control_panel.alarm_disarm
    metadata: {}
    target:
      entity_id: alarm_control_panel.ultrasync_alarm
    data: {}
  mode: single