---
- name: Set buffer size for quic # https://github.com/lucas-clemente/quic-go/wiki/UDP-Receive-Buffer-Size
  ansible.posix.sysctl:
    name: "net.core.rmem_max"
    value: "2500000"
    state: present
    reload: true
    sysctl_file: /etc/sysctl.d/20-memory.conf

- name: Start cloudflared docker container
  community.docker.docker_container:
    name: cloudflared
    image: cloudflare/cloudflared:latest
    networks:
      - name: "{{ cloudflared.docker_network }}"
    dns_servers:
      - "{{ dns_servers.adguard.dco.ipv6 }}"
      - "{{ dns_servers.adguard.dco.ip }}"
      - "{{ dns_servers.adguard.home.ipv6 }}"
      - "{{ dns_servers.adguard.home.ip }}"
    command: tunnel --no-autoupdate run --token {{ cloudflared.service_token }}
    restart: true
    restart_policy: always
    state: started
    pull: true
    labels:
      traefik.enable: "false"
